@use "./globals.scss" as g;
@use "./screen.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&family=JetBrains+Mono:wght@300&display=swap');

* {
  box-sizing: border-box;
  // TODO: maybe not the best place for this? It's taking priority in certain spots
  //  like div.diagnostic-window-content
  font-family: g.$body-font, sans-serif;

  // is this also the best place for this?
  color: g.$text-light-color;
}

html, body {
  max-width: 100%;
  overflow: hidden;
}

body {
  margin: 0rem;
}

p {
  margin: 0rem;
}

.App {
  background-color: g.$app-background-color;
  display: flex;
  // overflow-y: hidden;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  // padding-top: g.$app-padding-top;
  // padding: g.$app-body-padding;
  width: 100vw;
}

/*
.app-body {
  overflow-x: hidden;
}
*/