@use "./globals.scss" as g;

// universal rules for BackgroundScreen, BoardScreen, MenuScreen
.screen {
  height: 100vh;
  padding: g.$common-padding;
  position: fixed;
  width: 100vw;

  &.no-side-padding {
    padding: g.$common-padding 0em;
  }
}
